

.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets/adventure.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
    .sell {
        
        min-width: 100%;
        min-height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1484940564940-7eed11d146de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e7192bd084a34adfe0c376ba8f8136b0&auto=format&fit=crop&w=634&q=80");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .rowContainer{
            margin: 2% 15%;
              height: 100vh;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .col-md-3{
         
            
            margin-bottom:2%; 
        }
    .media{
        width:100%;
        height:20vh;
       
    }
    p{
        font-size:1.6rem;
    }      
    }

         
    .menu{
        background: rgba(3, 3, 3, 0.219);
        border-bottom:none;
        box-shadow: none;
    .item{
        color:white;
      
    }
    .item:hover{
        color:@maincolor !important;
    }
    .active{
        color:@maincolor !important;
    }
    }
   
         .logo-wrapper{
        margin-top:22vh;
        background:white;
        opacity: .7;
    }
    .logo-styles{
        width:60vw;
    }
//************************************************************************LANDING PAGE
.landing-Nav{
   background:rgba(3, 3, 3, 0.103);
    
   .nav-link{
        color:white;
        
    }
    .nav-link:hover{
        color:@maincolor;
        background:darken(rgba(3, 3, 3, 0.103), 50%)
    }
    
  
}
//*************************************************************************NAV
.navLogo-styles{
    width:12%;

}


 @maincolor : #F6E0D6;
