.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets//castle.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .card {
    width: 30vw;
    min-height: 40vh;

    margin: 0 auto;
    margin-top: 25vh;
    .share-styles{
        display:flex;
    } 
    }
}
