.modal-about {
  height: 50vh;
  width: 50vw;
  margin-right: 47vw;
}
.modal-about .modal-content {
  height: 40vh;
  width: 45vw;
}
.modal-container .youtube {
  width: 45vw;
  height: 50vh;
}
.modal-container .modal-buttons {
  display: flex;
  margin: 0;
}
.modal-container .modal-buttons .btn {
  margin: 0;
}
.modal-container .modal-buttons .btn:focus {
  background: #677fa3;
}
