.checked {
  background: rgba(131, 194, 245, 0.705);
}
.tag-badge {
  text-align: left;
  min-height: 3.2vh;
}
.tag-badge .badge {
  cursor: pointer;
  background: #677fa3;
}
.create-button {
  width: 100%;
  background: #a8bdd6;
  border: none;
}
.create-button:hover {
  width: 100%;
  background: #677fa3;
  border: none;
}
.create-form {
  border-radius: 0.6%;
  min-height: 40vh;
  padding-right: 3%;
  padding-left: 3%;
  background: #EBE1CE;
}
.create-form .text-left {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}
.create-form .form-control {
  border: none;
}
.create-form .dropdown {
  text-align: left;
}
.create-form .dropdown-menu {
  max-height: 18vh;
  overflow: hidden;
  overflow-y: scroll;
}
.create-form .dropdown-toggle {
  width: 5%;
}
.create-form .btn {
  font-size: 0.6rem;
  background: #a8bdd6;
  border: none;
}
.create-form .btn:hover {
  background: #677fa3;
}
.create-form .btn:focus {
  background: #677fa3;
  border: none;
  box-shadow: none !important;
}
.create-form .btn-primary:focus {
  box-shadow: none !important;
}
.create-form .dropdown-check {
  color: #a8bdd6;
}
.create-form .create-inputmid {
  width: 50vw;
  min-height: 5vh;
  overflow: none;
  overflow-y: hidden;
}
.create-form .btn-location {
  font-size: 1.3rem;
}
.btn:focus {
  box-shadow: none !important;
}
.geosuggest__input {
  margin-top: 5%;
  width: 100%;
}
.geosuggest__suggests {
  position: absolute;
  background: white;
  width: 35%;
  margin: 0 auto;
  margin-top: .4vh;
  border-radius: 5px;
  text-align: left;
  padding: .3vw .5vw .3vw;
  list-style-type: none;
}
.geosuggest__suggests .geosuggest__item {
  padding-bottom: .5vh;
  border-bottom: 1px solid #a8bdd6;
}
.badge {
  font-size: 1.2rem;
  margin-right: .2%;
  background: #677fa3;
}
.geo-modal .modal-title {
  font-size: 1.6rem;
}
.geo-modal .modal-content {
  height: 50vh;
  width: 50vw;
}
.geo-modal .modal-badges {
  min-height: 28vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 28vh;
}
.geo-modal .modal-badges .badge {
  font-size: 1rem;
}
