.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets/adventure.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-md-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-md-12 .aboutHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  margin-bottom: 1vh;
  letter-spacing: 0.2ch;
  color: white;
  text-decoration: underline #677fa3;
}
p {
  margin-top: 5vh;
  font-size: 1.6rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.menu {
  background: rgba(3, 3, 3, 0.219);
  border-bottom: none;
  box-shadow: none;
}
.menu .item {
  color: white;
}
.menu .item:hover {
  color: #EBE1CE !important;
}
.menu .active {
  color: #EBE1CE !important;
}
.logo-wrapper {
  margin-top: 22vh;
  background: white;
  opacity: 0.7;
}
.logo-styles {
  width: 60vw;
}
.aboutRow {
  min-height: 66vh;
}
.navLogo-styles {
  width: 12%;
}
.red {
  background-image: url("../assets/red-forest.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.sea {
  background-image: url("../assets/water.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.desert {
  background-image: url("../assets/desert.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.filter {
  color: rgba(15, 15, 15, 0);
}
.filter:hover {
  background: rgba(15, 15, 15, 0.404);
  color: white;
}
.landing-Nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  background: rgba(3, 3, 3, 0.322);
}
.landing-Nav .nav-link {
  color: #a8bdd6;
}
.landing-Nav .nav-link:hover {
  color: #EBE1CE;
  background: rgba(0, 0, 0, 0.103);
}
.landing-Nav .signup {
  color: white;
  animation: wobble;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.landing-Nav .signup:hover {
  filter: brightness(160%);
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  p {
    font-size: 1rem;
  }
}
.signup-container {
  background-image: url("../assets/beach.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container .form-control {
  width: 50%;
  height: 5vh;
  margin: 0 auto;
}
.signup-container .text-muted {
  font-size: 1rem;
}
.signup-container .invalid-feedback {
  font-size: 1rem;
}
.signup-container .valid-feedback {
  font-size: 1rem;
}
.signup-container .signup-form {
  width: 30vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.767);
  padding-top: 1%;
  border-radius: 1%;
  animation: bounceInDown;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
}
.signup-container .signup-form .form-buttons {
  display: flex;
  justify-content: space-evenly;
}
.signup-container .signup-form .btn {
  font-size: 1.6rem;
}
.signup-container .fa-eye {
  font-size: 2rem;
  color: darkcyan;
}
.dashboard {
  height: 100vh;
  min-height: 100%;
  background: white;
  box-shadow: 5px 15px 10px #6b6969;
}
.dashboard .fas {
  color: #a8bdd6;
  margin-top: 3vh;
  font-size: 2.9rem;
}
.dashboard .media {
  max-width: 100%;
  height: 2.7vw;
  margin-bottom: 3vh;
}
.dashboard .navbar {
  display: flex;
  flex-direction: column;
  padding-right: 0px;
  padding-left: 0px;
}
.dashboard .navbar .nav-links {
  color: #677fa3;
  font-size: 1.3rem;
  width: 100%;
  padding: 3vh 0vh 3vh;
}
.dashboard .navbar .nav-sml {
  color: #677fa3;
  font-size: 0.9rem;
  width: 100%;
  padding: 3vh 0vh 3vh;
}
.dashboard .navbar .nav-links:hover {
  background: rgba(8, 8, 8, 0.267);
  color: #ffffff;
}
.dashboard .navbar .nav-sml:hover {
  background: rgba(8, 8, 8, 0.267);
  color: #ffffff;
}
.dashboard .navbar .btn {
  border: none;
  font-size: 1.1rem;
  margin-top: 3vh;
  width: 95%;
  background: #677fa3;
}
.dashboard .navbar .btn-sml {
  border: none;
  font-size: 0.8rem;
  margin-top: 3vh;
  width: 100%;
  background: #677fa3;
}
.dashboard .navbar .btn:active {
  background: #a8bdd6;
  border: none;
}
.dashboard .navbar .btn:hover {
  background: #a8bdd6;
}
.dashboard .navbar .btn:visited {
  background: #a8bdd6;
}
.dashboard .navbar .dropdown-menu {
  max-height: 18vh;
  overflow: hidden;
  overflow-y: scroll;
}
.dashboard .navbar .dropdown {
  width: 100%;
}
.dashboard .navbar .show {
  width: 100%;
}
.dashboard .navbar .dropdown-item {
  text-align: center;
}
.tags-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 3vh;
}
.tags-container .cover {
  width: 100%;
  color: rgba(15, 15, 15, 0);
  cursor: pointer;
}
.tags-container .cover:hover {
  background: rgba(15, 15, 15, 0.342);
  color: white;
}
.tags-container p {
  padding-top: 22vh;
  font-size: 3rem;
  margin-top: 0px;
  height: 45.8vh;
}
.tags-container .tags {
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
  margin-top: 5vh;
}
.tags-container .row {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 95vh;
  margin-right: 0px;
  margin: 0 auto;
}
.tags-container .tag-img {
  margin: 0px;
  padding: 0px;
}
.tags-container .tag {
  height: 49.8vh;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .dashboard .media {
    max-width: 80%;
    margin: 0 auto;
  }
  .dashboard .navbar .btn {
    font-size: 0.7rem;
    margin-top: 3vh;
    width: 95%;
  }
  .dashboard .navbar .btn-sml {
    font-size: 0.4rem;
    width: 95%;
  }
  .dashboard .navbar .nav-sml {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 719px) {
  .dashboard {
    height: 65vh;
    min-height: 100%;
    background: white;
    box-shadow: none;
  }
  .dashboard .media {
    height: 13vw;
    max-width: 100%;
    margin: 0 auto;
  }
  .dashboard .navbar {
    margin-bottom: 3%;
  }
}
.table-container p {
  margin-top: 7%;
  font-size: 3rem;
}
.table-container .tag-filtered {
  overflow: hidden;
  overflow-y: scroll;
  min-width: 81vw;
  max-height: 35vh;
  margin-right: 0px;
  margin: 0 auto;
  margin-top: 2vh;
}
.table-container .tag-filtered .cover {
  width: 100%;
  color: rgba(15, 15, 15, 0);
}
.table-container .tag-filtered .cover:hover {
  background: rgba(15, 15, 15, 0.342);
  color: white;
}
.table-container .tag-filtered p {
  padding-top: 22vh;
  font-size: 3rem;
  margin-top: 0px;
  height: 45.8vh;
}
.table-container .tag-filtered .tags {
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
  margin-top: 5vh;
}
.table-container .tag-filtered .row {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 95vh;
  margin-right: 0px;
  margin: 0 auto;
}
.table-container .tag-filtered .tag-img {
  margin: 0px;
  padding: 0px;
}
.tr {
  display: flex;
}
.tr th {
  min-width: 24.5%;
}
.tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 20vw;
}
.tag .tags {
  padding-right: 0.3vw;
}
tr:hover {
  color: white;
  background: #677fa3;
}
.tags-table {
  margin-right: 0px;
  margin: 0 auto;
  min-width: 80vw;
  min-height: 30.5vh;
}
.tags-table .table-items {
  width: 100%;
}
.tags-table .table-items .btn:hover {
  background: #677fa3;
}
.tags-table .table-items .tag {
  margin: 1%;
}
.tags-table .td {
  min-width: 25%;
  font-size: 1.3rem;
}
.tags-table .td-container {
  border-bottom: 1px dotted #a8bdd6;
}
.tags-table .td-container:hover {
  background: #677fa3;
  color: white;
}
.tags-table .head {
  min-width: 24.7%;
  font-size: 1.4rem;
  padding-bottom: 1vh;
  background: #677fa3;
  color: white;
}
.tags-table .tr {
  background: #677fa3;
}
.tags-table .tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40vw;
}
.tags-table .tag .tags {
  margin-left: 0.5vw;
}
.btn {
  width: 100%;
  font-size: 1.2rem;
  background: #a8bdd6;
  border: none;
  margin: 0.11%;
}
.btn:hover {
  background: #677fa3;
}
.tbody {
  font-size: 1.3rem;
  max-height: 35vh;
  overflow: hidden;
  overflow-y: scroll;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .table-container .head {
    font-size: 1.3rem;
  }
  .table-container .tags-table .td {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .table-container .head {
    font-size: 1.1rem;
  }
  .table-container .tags-table .td {
    font-size: .8rem;
  }
}
@media only screen and (max-width: 719px) {
  .table-container .head {
    font-size: 1rem;
  }
  .table-container .tags-table .td {
    font-size: 0.9rem;
  }
}
.google {
  display: flex;
  border-radius: 1%;
  margin-top: 2vh;
  background: #677fa3;
  min-width: 81vw;
  height: 55vh;
  color: white;
  overflow: hidden;
}
.details {
  min-height: 15vh;
  max-height: 30vh;
  padding-bottom: 3vh;
}
.details .header {
  justify-content: space-between;
  border-bottom: 1px solid #677fa3;
}
.details .header .username {
  display: flex;
  text-align: left;
  margin-left: 1vw;
}
.details .header .username .user {
  margin-left: 0.2vw;
  color: #677fa3;
}
.details .header .name {
  margin: 0 auto;
  width: 80%;
  font-size: 1.3rem;
}
.details .description {
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 1vh;
}
.comment-form {
  display: flex;
}
.comment-form .btn {
  font-size: 0.9rem;
  background: #a8bdd6;
  border: none;
}
.comment-form .btn:hover {
  background: #677fa3;
}
.no-comments {
  height: 10vh;
  background: #f0e6e6;
  font-size: 1.8rem;
}
.comments-container {
  min-height: 20vh;
  min-width: 100%;
  border-top: 3px solid #677fa3;
  border-bottom: 1px solid #677fa3;
  max-height: 38vh;
  overflow: hidden;
  overflow-y: scroll;
}
.comments-container .comment-container {
  background: #EBE1CE;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0.1rem solid white;
  border-radius: 2%;
}
.comments-container .target-comment {
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
  margin-top: 0.5vh;
}
.comments-container .target-comment .fa-reply {
  margin-right: 0.5vw;
  color: #677fa3;
}
.comments-container .target-comment .fa-edit {
  margin-right: 0.5vw;
  color: #a8bdd6;
}
.comments-container .target-comment .fa-edit:hover {
  margin-right: 0.5vw;
  color: #677fa3;
}
.comments-container .target-comment .fa-times {
  margin-left: 0.5vw;
  color: coral;
}
.comments-container .target-comment .fa-times:hover {
  margin-left: 0.5vw;
  color: tomato;
}
.comments-container .replies {
  background: white;
}
.comments-container .replies .reply {
  font-size: 1.2rem;
  min-height: 5vh;
  border: 1px solid #a8bdd6;
}
.comments-container .replies .reply .reply-username {
  padding-left: 4vw;
  color: #677fa3;
}
.comments-container .replies .reply .reply-comment {
  padding-left: 6vw;
}
.comments-container .replies .reply .sub-username {
  padding-left: 6vw;
}
.comments-container .replies .reply .sub-comment {
  padding-left: 8vw;
}
.comments-container .username {
  font-size: 1.6rem;
  margin-bottom: 0.2vh;
  padding-left: 1vw;
  color: #677fa3;
}
.comments-container .comment {
  font-size: 1.3rem;
  margin-bottom: 1vh;
  padding-left: 3vw;
}
.modal-content {
  margin-top: 20vh;
}
.modal-footer {
  justify-content: center;
  padding: 0;
}
.modal-footer .btn {
  width: 100%;
  background: #a8bdd6;
  border: none;
}
.modal-footer .btn:hover {
  background: #677fa3;
}
.btn-post {
  width: 7%;
}
.checked {
  background: rgba(131, 194, 245, 0.705);
}
.tag-badge {
  text-align: left;
  min-height: 3.2vh;
}
.tag-badge .badge {
  cursor: pointer;
  background: #677fa3;
}
.create-button {
  width: 100%;
  background: #a8bdd6;
  border: none;
}
.create-button:hover {
  width: 100%;
  background: #677fa3;
  border: none;
}
.create-form {
  border-radius: 0.6%;
  min-height: 40vh;
  padding-right: 3%;
  padding-left: 3%;
  background: #EBE1CE;
}
.create-form .text-left {
  letter-spacing: 0.2rem;
}
.create-form .form-control {
  border: none;
}
.create-form .dropdown {
  text-align: left;
}
.create-form .dropdown-menu {
  max-height: 18vh;
  overflow: hidden;
  overflow-y: scroll;
}
.create-form .dropdown-toggle {
  width: 3%;
}
.create-form .btn {
  font-size: 0.6rem;
  background: #a8bdd6;
  border: none;
}
.create-form .btn:hover {
  background: #677fa3;
}
.create-form .btn:focus {
  background: #677fa3;
  border: none;
  box-shadow: none !important;
}
.create-form .btn-primary:focus {
  box-shadow: none !important;
}
.create-form .dropdown-check {
  color: #a8bdd6;
}
.create-form .create-inputmid {
  width: 50vw;
  min-height: 5vh;
  overflow: none;
  overflow-y: hidden;
}
.btn:focus {
  box-shadow: none !important;
}
.notify {
  background: orange;
  color: white;
}
.link-style {
  color: black;
  text-decoration: none;
  width: 100vw !important;
}
.link-style:hover {
  color: black;
  text-decoration: none;
}
.tr:hover {
  background: #677fa3;
  color: white;
}
td {
  min-width: 20vw;
}
.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40vw;
}
.tag-container .tag {
  margin-left: 0.5vw;
}
.post-head {
  margin-left: 0.3%;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .post-container .post-head {
    font-size: 1.3rem;
  }
  .post-container .post-table .td {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 719px) {
  .post-container .post-head {
    font-size: 1rem;
  }
  .post-container .post-table .td {
    font-size: 0.9rem;
  }
}
.App {
  overflow-x: hidden !important;
  font-size: 64.5%;
}
.row {
  max-width: 100vw;
}
