.notify {
  background: orange;
  color: white;
}
.link-style {
  color: black;
  text-decoration: none;
  width: 100vw !important;
}
.link-style:hover {
  color: black;
  text-decoration: none;
}
.tr:hover {
  background: #677fa3;
  color: white;
}
td {
  min-width: 20vw;
}
.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40vw;
}
.tag-container .tag {
  margin-left: 0.5vw;
}
.post-head {
  margin-left: 0.3%;
}
