.row {
  max-width: 100vw;
}
.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets/adventure.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-md-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-md-12 .aboutHeader {
  font-family: "Times New Roman", Times, serif;
  font-size: 6rem;
  margin-bottom: 1vh;
  letter-spacing: 0.2ch;
  color: white;
  text-decoration: underline #677fa3;
}
.aboutRow {
  min-height: 66vh;
}
.red {
  background-image: url("../assets/red-forest.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.sea {
  background-image: url("../assets/water.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.desert {
  background-image: url("../assets/desert.jpg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.filter {
  color: rgba(15, 15, 15, 0);
}
.filter:hover {
  background: rgba(15, 15, 15, 0.404);
  color: white;
}
p {
  margin-top: 5vh;
  font-size: 1.6rem;
  text-align: center;
}
.menu {
  background: rgba(3, 3, 3, 0.219);
  border-bottom: none;
  box-shadow: none;
}
.menu .item {
  color: white;
}
.menu .item:hover {
  color: #EBE1CE !important;
}
.menu .active {
  color: #EBE1CE !important;
}
.logo-wrapper {
  margin-top: 22vh;
  background: white;
  opacity: 0.7;
}
.logo-styles {
  width: 60vw;
}
.landing-Nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  background: rgba(3, 3, 3, 0.322);
}
.landing-Nav .nav-link {
  color: #a8bdd6;
}
.landing-Nav .nav-link:hover {
  color: #EBE1CE;
  background: rgba(0, 0, 0, 0.103);
}
.landing-Nav .signup {
  color: white;
  animation: wobble;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.landing-Nav .signup:hover {
  filter: brightness(160%);
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.navLogo-styles {
  width: 12%;
}
.signup-container {
  background-image: url("../assets/beach.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container .form-control {
  width: 50%;
  height: 5vh;
  margin: 0 auto;
}
.signup-container .text-muted {
  font-size: 1rem;
}
.signup-container .invalid-feedback {
  font-size: 1rem;
}
.signup-container .valid-feedback {
  font-size: 1rem;
}
.signup-container .signup-form {
  width: 30vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.767);
  padding: 1%;
  border-radius: 1%;
  animation: bounceInDown;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
}
.signup-container .signup-form .form-buttons {
  display: flex;
  justify-content: space-evenly;
}
.signup-container .signup-form .btn {
  width: 8vw;
  font-size: 1.4rem;
}
.signup-container .fa-eye {
  font-size: 2rem;
  color: darkcyan;
}
.dashboard {
  min-height: 100vh;
  background: white;
  box-shadow: 5px 15px 10px #6b6969;
}
.dashboard .fas {
  color: #a8bdd6;
  margin-top: 3vh;
  font-size: 2.9rem;
}
.dashboard .media {
  height: 5.5vh;
  margin-bottom: 3vh;
}
.dashboard .navbar {
  display: flex;
  flex-direction: column;
}
.dashboard .navbar .nav-links {
  color: #677fa3;
  font-size: 1.3rem;
  width: 15.1vw;
  padding: 3vh 0vh 3vh;
}
.dashboard .navbar .nav-links:hover {
  background: rgba(8, 8, 8, 0.267);
  color: #ffffff;
}
.dashboard .navbar .btn {
  border: none;
  font-size: 1.3rem;
  margin-top: 3vh;
  width: 12vw;
  background: #677fa3;
}
.dashboard .navbar .btn-sml {
  border: none;
  font-size: .8rem;
  margin-top: 3vh;
  width: 5vw;
  background: #677fa3;
}
.dashboard .navbar .btn:active {
  background: #a8bdd6;
  border: none;
}
.dashboard .navbar .btn:hover {
  background: #a8bdd6;
}
.dashboard .navbar .btn:visited {
  background: #a8bdd6;
}
.dashboard .navbar .show {
  width: 12vw;
}
.dashboard .navbar .dropdown-item {
  text-align: center;
}
.tags-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 3vh;
}
.tags-container .cover {
  width: 40vw;
  color: rgba(15, 15, 15, 0);
}
.tags-container .cover:Hover {
  background: rgba(15, 15, 15, 0.342);
  color: white;
}
.tags-container p {
  padding-top: 22vh;
  font-size: 3rem;
  margin-top: 0px;
  height: 45.8vh;
}
.tags-container .snow {
  background-image: url("../assets/snow.jpeg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
  margin-top: 5vh;
}
.tags-container .water {
  background-image: url("../assets/rain.jpeg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
  margin-top: 3vh;
}
.tags-container .market {
  background-image: url("../assets/river-market.jpeg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
}
.tags-container .camping {
  background-image: url("../assets/camping.jpeg");
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 45.8vh;
}
.tags-container .row {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 95vh;
  margin-right: 0px;
  margin: 0 auto;
}
.tags-container .tag-img {
  margin: 0px;
  padding: 0px;
}
.tags-container .tag {
  height: 49.8vh;
}
