.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets//castle.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mapBackground-styles .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: blueviolet;
  width: 30vw;
  height: 100vh;
  font-size: 3.7rem;
}
