.mapBackground-styles {
  min-height: 100vh;
  background-image: url("../assets/adventure.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sell {
  min-width: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sell .media {
  width: 100%;
  margin: 5% 0% 5% 5%;
}
.sell p {
  font-size: 2rem;
}
.menu {
  background: rgba(3, 3, 3, 0.219);
  border-bottom: none;
  box-shadow: none;
}
.menu .item {
  color: white;
}
.menu .item:hover {
  color: #F6E0D6 !important;
}
.menu .active {
  color: #F6E0D6 !important;
}
.logo-wrapper {
  margin-top: 22vh;
  background: white;
  opacity: .7;
}
.logo-styles {
  width: 60vw;
}
.landing-Nav {
  background: rgba(3, 3, 3, 0.103);
}
.landing-Nav .nav-link {
  color: white;
}
.landing-Nav .nav-link:hover {
  color: #F6E0D6;
  background: rgba(0, 0, 0, 0.103);
}
.navLogo-styles {
  width: 12%;
}
