@import "../variables";

@media @laptop {
  .dashboard {
    .media {
     max-width:80%;
        margin: 0 auto;
      }
      .navbar{
  .btn {
        font-size: .7rem;
        margin-top: 3vh;
        width: 95%;

      }
      .btn-sml {
        font-size: .4rem;
        width: 95%;

      }
      .nav-sml{
        font-size:.7rem;
      }
    }
    } 
  }
  @media @tablet {
    .dashboard {
      height: 60vh;
      min-height: 100%;
      background: white;
      box-shadow:none;
      .media {
        height: 13vw;
        max-width:100%;
           margin: 0 auto;
         }
    }
  }