@import "../variables";

@media @laptop {
  .table-container {
    .head {
      font-size: 1.3rem;
    }
    .tags-table {
      .td {
        font-size: 1rem;
      }
    }
  }
}

@media @tablet {
  .table-container {
    .head {
      font-size: 1rem;
    }
    .tags-table {
      .td {
        font-size: 0.9rem;
      }
    }
  }
}
